<section class="container">
  <header class="header">
    <h1 class="header__title">Lista de Produtos</h1>
    <ul class="header header__list">
      <li class="header_name">
        <p>Nome do produto</p>
      </li>
      <li class="header_description">
        <p>Descricao do Produto</p>
      </li>
      <li class="header_price">
        <p>Preço do Produto</p>
      </li>
      <li class="header_stock">
        <p>Quantidade no Estoque</p>
      </li>
      <li class="header_category">
        <p>Categoria</p>
      </li>
      <li class="header_action">
        <p>Opções de botões</p>
      </li>
    </ul>
  </header>
  <main class="product-list">
    <ul
      class="product-list__product"
      *ngFor="let product of productList; let index = index"
    >
      <li class="product-list__name">
        <p>
          {{ product.nome }}
        </p>
      </li>
      <li class="product-list__description">
        <p>
          {{ product.descricao }}
        </p>
      </li>
      <li class="product-list__price">
        <p>
          {{ product.preco.toLocaleString('pt-br',{
      style: 'currency',
      currency: 'BRL',
    }) }}
        </p>
      </li>
      <li class="product-list__stoke">
        <p>
          {{ product.estoque }}
        </p>
      </li>
      <li class="product-list__category">
        <p>
          {{ product.categoria }}
        </p>
      </li>
      <div class="action-button">
        <button (click)="edit.emit(product.id)" class="action-button_edit">
          Editar
        </button>
        <button (click)="view.emit(product.id)" class="action-button_view">
          Visualizar
        </button>
        <button (click)="delete.emit(product.id)" class="action-button_remove">
          Deletar
        </button>
      </div>
    </ul>
    <div class="action-button">
      <button (click)="novoProduto.emit()" class="action-button_new-product">
        + Adicionar Novo produto
      </button>
    </div>
  </main>
</section>
