*{
  margin: 0;
  max-width: 1554px;
}
.container {
  display: grid;

}

.header {
  display: grid;
  border: 0.5px solid;
  padding-top: 16px;
  text-align: center;
  width: 100%;
  background-color: rgb(19, 167, 142);
  color: #fff;
  border-radius: 10px 10px 0 0;
  border: none;
}

.header__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 48px;
  padding: 16px;
  justify-items: flex-start;
  max-width: 1520px;
  font-weight: 600;
}

.product-list__product {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 48px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 16px;
  background-color: white;
}

.product-list__name{
  font-weight: 600;
  font-size: 16px;
}

.product-list__description{
  font-size: 14px;
}

.product-list__price{
  font-weight: 600;
  font-size: 16px;
}

.action-button {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 8px 0;
}

.action-button_edit{
  margin: 0 8px 0;
  background-color: rgb(7, 106, 187);
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  border-radius: 10px;
  padding: 8px;

}

.action-button_view{
  margin: 0 8px 0;
  background-color: rgb(147, 14, 209);
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  border-radius: 10px;
  padding: 8px;
}

.action-button_edit:hover {
  cursor: pointer;
  background-color: rgb(3, 49, 87);
}

.action-button_view:hover {
  cursor: pointer;
  background-color: rgb(40, 2, 58);
}
