* {
  margin: 0;
  max-width: 1554px;
}
.container {
  display: grid;
}

.header {
  display: grid;
  border: 0.5px solid;
  padding-top: 16px;
  text-align: center;
  background-color: rgb(19, 167, 142);
  color: #fff;
  border-radius: 10px 10px 0 0;
  border: none;
}

.header__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 16px 0 16px 16px;
  justify-items: flex-start;
  max-width: 100%;
  font-weight: 600;
  font-size: 22px;
}
.header__list .header_price {
  justify-items: center;
}
.product-list__product {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 38px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 16px;
  background-color: white;
}

.product-list__name {
  font-weight: 600;
  font-size: 16px;
}

.product-list__description {
  font-size: 14px;
}

.product-list__price {
  font-weight: 600;
  font-size: 16px;
}

.product-list__product .product-list__price {
  justify-items: center;
}

.product-list__product .product-list__stoke {
  justify-items: center;
}
.product-list__product .product-list__category {
  justify-items: center;
}

.action-button {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.action-button_edit {
  margin: 0 8px 0;
  background-color: rgb(7, 106, 187);
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  border-radius: 10px;
  padding: 8px;
}

.action-button_view {
  margin: 0 8px 0;
  background-color: rgb(147, 14, 209);
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  border-radius: 10px;
  padding: 8px;
}
.action-button_remove {
  margin: 0 8px 0;
  background-color: rgb(209, 14, 14);
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  border-radius: 10px;
  padding: 8px;
}

.action-button_edit:hover {
  cursor: pointer;
  background-color: rgb(3, 49, 87);
}

.action-button_view:hover {
  cursor: pointer;
  background-color: rgb(40, 2, 58);
}
.action-button_new-product {
  width: 1568px;
  background-color: #ffff;
  text-align: start;
  padding: 16px;
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  font-weight: 600;
  border: none;
}
