* {
  margin: 0;
  max-width: 1554px;
}
.container {
  display: flex;
  flex-direction: column;
}
.header {
  border-radius: 10px 10px 0 0;
  background-color: rgb(19, 167, 142);
  padding: 16px;
  text-align: center;
  color: #fff;
  border: none;
}
.product {
  display: flex;
  gap: 56px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 16px;
  align-items: end;
  background-color: white;
}
.product__info {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.action-button {
  display: flex;
  padding: 0 8px 0;
}
.product__input {
  width: 328px;
}
.action-button_save {
  margin: 0 8px 0;
  background-color: rgb(7, 106, 187);
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  border-radius: 10px;
  padding: 8px;
  width: 148px;
  height: 36px;
}

.action-button_cancel {
  margin: 0 8px 0;
  background-color: rgb(209, 14, 24);
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  border-radius: 10px;
  padding: 8px;
  width: 148px;
  height: 36px;
}

.action-button_save:hover {
  cursor: pointer;
  background-color: rgb(3, 49, 87);
}

.action-button_cancel:hover {
  cursor: pointer;
  background-color: rgb(83, 3, 7);
}
