<ng-container [ngSwitch]="visaoAtual">
  <app-product-list
    [productList]="productList"
    *ngSwitchCase="visaoEnum.Lista"
    (edit)="trocarparaEdit($event)"
    (view)="trocarparaView($event)"
    (novoProduto)="addNovoProduto()"
    (delete)="onRemoveProduct($event)"
  >
  </app-product-list>

  <app-product-edit
    [productItem]="productItem"
    *ngSwitchCase="visaoEnum.Edicao"
    (save)="onUpdateInformacoes($event)"
    (cancel)="trocarparaList()"
  >
  </app-product-edit>

  <app-product-view
    [productItem]="productItem"
    *ngSwitchCase="visaoEnum.visualizacao"
    (edit)="trocarparaEdit($event)"
    (list)="trocarparaList()"
  >
  </app-product-view>
</ng-container>
